#togglecolor-container {
    margin-bottom: 8px;
}

.box {
    display: inline-block;
    height: 10px;
    width: 20px;
    margin-top: 12px;
    margin-right: 12px;
    border: 1px solid black;
    border-radius: 2px;
    clear: both;
}

.legend {
    margin-right: 12px;
}